{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Confirmation</h1>
                <p>Job ID: {{ data.jobID }}</p>
                <p>Website: {{ data.website }}</p>
                <p>Query: {{ data.query }}</p>
                <p>Items Scraped: {{ data.item_count }}</p>
                <p>Spider: {{ data.spider }}</p>
                <p>Date: {{ data.date }}</p>
                <input type="text" placeholder="Enter Email" name="email" required>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
{% endblock %}